<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homeinfo ANY>
<!ATTLIST homeinfo id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT principal ANY>
<!ATTLIST principal id ID #REQUIRED>
]>
<root id="-1">
  <home id="1054" key="5538a909-59b9-426e-a559-b48246be4749" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-10-06T14:40:49" updateDate="2017-10-20T15:42:39" nodeName="pr" urlName="pr" path="-1,1054" isDoc="" nodeType="1052" creatorName="Joel Jimenez Valido" writerName="Joel Jimenez Valido" writerID="0" template="1053" nodeTypeAlias="home">
    <imgen1><![CDATA[umb://media/8eef6fa3994540738750129bd2f85311]]></imgen1>
    <titulo><![CDATA[Pinar BPA]]></titulo>
    <principal id="1060" key="966dca75-1874-469c-a862-d61559241e10" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2017-10-20T14:35:21" updateDate="2017-10-20T14:35:29" nodeName="site" urlName="site" path="-1,1054,1060" isDoc="" nodeType="1058" creatorName="Joel Jimenez Valido" writerName="Joel Jimenez Valido" writerID="0" template="0" nodeTypeAlias="principal">
      <homeinfo id="1061" key="17ef82a0-eb37-4090-bb8b-03609168a261" parentID="1060" level="3" creatorID="0" sortOrder="0" createDate="2017-10-20T14:36:21" updateDate="2017-10-20T14:51:57" nodeName="informatica" urlName="informatica" path="-1,1054,1060,1061" isDoc="" nodeType="1059" creatorName="Joel Jimenez Valido" writerName="Joel Jimenez Valido" writerID="0" template="1055" nodeTypeAlias="homeinfo">
        <titulo><![CDATA[Informática]]></titulo>
      </homeinfo>
    </principal>
  </home>
</root>